.div1{
    background-color: aqua;
    font-size: 50px;
    display: inline-block;
    
}
.div2{
    background-color: #aaff00;
    font-size: 50px;
    display: inline-block;
    
}
.div3{
    background-color: #eeaa11;
    font-size: 50px;
    display: inline-block;
    
}
footer{
    background-color: #bbaa00;
    display: block;
}
h1{
      color: #faa    
}